<div class ="header">

<h1>Forgotten Wayside Stories</h1>
<nav>
    <div class="mainmenu">
     <ul>
        <li><a routerLink="/home" class = "active">Home</a></li>
        <li><a>Browse Library</a>
            <div class="lib-submenu">
                <ul>
                    <li><a routerLink="/fresh">Freshly Added</a></li>
                    <li><a routerLink="/bookshelf">Bookshelf</a></li>
                    <li><a routerlink="/recommended">Recommended</a></li>
                </ul>
            </div>    
        </li>
        <li><a routerLink="/shelf">Member's Shelf</a>
     </ul>   
    </div>
</nav>
</div>
