<!-- <h1>Welcome to the bookshelf {{bookshelf.name}} </h1> -->

<h1> Browse Stories </h1>

<div>
    <div *ngFor="let story of stories">
        <div class = "container-1">
            <div class="box-1">
                <!-- <img src={{story.image_link}}></img> -->
            </div> 
            <div class="box-2">
                <h3>{{story.title}}</h3>
                <h3>image_link: {{story.image_link}}</h3>
                <h3>{{story.summary}}</h3>
            </div>
        </div>
    </div>
</div>